/* top */
body{
    background: #f5f5f5;
}
@media screen and (max-width: 751px){
    .middle-box{
        width: 668px;
        margin: 0 auto;
    }
    #top{
        height: 108px;
        width: 750px;
        overflow: hidden;
    }
    .navbar-default{
        background: #fff; 
        height: 108px;
    }
    .main{
        display: none;
    }
    .navbar-header{
        margin-top: 10px;
    }
    .button-orange{
        height: 55px;
        width: 165px;
        background-color: #e8420a;
        border-radius: 10px;
        font-size: 30px;
        color: #fff;
        font-weight: 100;
        text-align: center;
        margin-top: 15px;    
        margin-right: 45px;
        line-height: 55px;
        float: right;
    }
    .m-nav{
        width: 750px;
    }
    .m-nav span{
        display: block;
        background-color: black;
        width: 45px;
        height: 3px;
        margin-bottom: 15px;
        margin-top:10px;

    }
    .m-nav span:last-child{
        margin-bottom: 0;
    }
    .m-nav button{
        border: none;
    }
    .nav li{
        background: #fff;
        
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        margin-top: 7px;
    }

    /* carousel-figure */
    #carousel-figure{
        display: none;
    }
    .p-img {
        height: 365px;
        width: 750px;
        border-top: #434343 2px solid;
        background: url(./img/banner.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .p-img .main {
        display: block;
        width: 668px;
        height: 110px;
        margin: 64px auto;
        color: #fff;
    }

    .p-img .main>span:nth-child(1) {
        float: left;
        font-size: 40px;
        font-weight: 340;
        padding-bottom: 20px;
    }

    .p-img .main>span:nth-child(2) {
        float: left;
        font-size: 28px;
        font-weight: 300;
    }

    .p-img>.search {
        width: 666px;
        height: 76px;
        margin: 0 auto;
        border: rgba(0, 0, 0, .4) 5px solid;
        border-radius: 8px;
        overflow: hidden;
    }

    .p-img>.search>div:first-child {
        float: left;
        width: 164px;
        height: 66px;
        color: #666;
        background-color: #d3d3d8;
    }

    .p-img>.search>div:first-child>span {
        width: 164px;
        height: 66px;
        line-height: 66px;
        font-size: 20px;
        display: block;
        padding-left: 68px;
        background: url(./img/position.png) no-repeat 30px center;
    }

    .p-img>.search>div:last-child {
        float: right;
        width: 142px;
        height: 66px;
        cursor: pointer;
        background-color: #cb5405;
    }

    .p-img>.search>div:last-child>span {
        width: 142px;
        height: 66px;
        display: block;
        background: url(./img/search.png) no-repeat center center;
    }

    .p-img>.search>input {
        width: 350px;
        height: 66px;
        font-size: 20px;
        padding-left: 20px;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* transport */
    #transport{
        margin-top: 20px;
        height: 200px;
        width: 750px;
        overflow: hidden;
        background: #fff;
    }
    #transport .t-p{
        margin: 0 auto;
        width: 668px;
        height: 200px;
    }
    #transport .car{        
        float: left;
        margin-top: 45px;
    }
    #transport-left{
        float: left;
        margin-top: 45px;
        margin-left: 20px;
    }
    #transport-left span:first-child{
        color: #1c5080;
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
    }
    #transport-left span{
        color: #666;
        font-size: 22px;
    }
    #transport-right{
        float: left;
    }
    .phone-none{
        display: none;
    }
    #transport-right span:last-child{
        display: block;
        height: 55px;
        width: 155px;
        border: 1px solid #666;
        border-radius: 10px;
        color: #666;
        font-size: 27px;
        margin-top: 70px;
        text-align: center;
        line-height: 55px;
    }
    #transport-right .car1{
        display: none;
    }

    /* route */
    #route{
        margin-top: 20px;
        height: 1070px;
        width: 750px;
        background: #fff;
        overflow: hidden;
    }
    .r-header{
        display: block;
        margin: 0 auto;
        width: 668px;
        height: 50px;
        border-bottom: 1px solid #e8e8e8;
    }
    .r-header span:last-child{
        display: none;
    }
    .r-header span:first-child{
        display: block;
        font-size: 32px;
        padding-left: 12px;
        margin-top: 50px;
        line-height: 32px;
        border-left: 5px solid #e8420a;       
    }
    .r-picture{
        width: 668px;
        margin: 0 auto;
    }
    .r-right{
        display: none;
    }
    .r1{
        font-size: 20px;
        color: #fff;
        padding-left: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
        line-height: 45px;
    }
    .r1 div{
        margin-top: -70px;
        float: right;
        margin-right: 25px;
        font-size: 20px;
    }
    .r1 div span{
        font-size: 32px;
    }
    .r-picture span{
        font-size: 27px;
    }
    .r-left{          
        margin-top: 15px;
        float: left;
    }
    .r-left div:first-child{
        margin-bottom: 25px;
    }
    .r-left div:first-child img{
        width: 668px;
        height: 398px;
    }
    .r-left-bottom img{
        width: 668px;
        height: 397px;
    }
    .r-left>div {
        position: relative;
        margin-bottom: 4px;
    }
    .r-left>div>div {
        position: absolute;
        bottom: 0;
        width: 668px;
        height: 115px;
        background-color: rgba(0, 0, 0, .8);
    }
    .r-left .r-sp{
        color: #8f8f8f;
        display: block;
        height: 55px;
        width: 225px;
        border: 1px solid #8f8f8f;
        border-radius: 10px;
        font-size: 25px;
        text-align: center;
        line-height: 55px;
        margin: 0 auto;
        margin-top: 50px;
    }

    /* visa */
    #visa{
        margin-top: 20px;
        height: 670px;
        width: 750px;
        background: #fff;
        overflow: hidden;
    }
    .v-header{
        display: block;
        margin: 0 auto;
        width: 668px;
        height: 50px;
        border-bottom: 1px solid #e8e8e8;
    }
    .v-header span:last-child{
        display: none;
    }
    .v-header span:nth-child(2){
        display: none;
    }
    .v-header span:first-child{
        display: block;
        font-size: 32px;
        padding-left: 12px;
        margin-top: 50px;
        line-height: 32px;
        border-left: 5px solid #e8420a;       
    }
    .v-middle{
        height: 425px;
        width: 668px;
        margin: 0 auto;
        overflow: hidden;
    }
    .v-middle .v-m1{
        width: 295px;
        height: 410px;
        float: left;
        margin-top: 15px;
    }
    .v-middle .v-m1 img{
        width: 295px;
        height: 409px;   
    }
    .v-middle .v-m1 div{
        position: relative;
        width: 295px;
        height: 56px;
        font-size: 26px;
        padding-left: 14px;
        line-height: 56px;
        bottom: 56px;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        font-weight: 340;
    }
    .v-middle .v-m1-2 {
        font-size: 36px;
        font-weight: 350;
    }
    .v-middle .v-m1-1 {
        font-size: 20px;
        margin-left: 20px;
    }
    .v-middle .v-m2{
        float: right;
        height: 424px;
        width: 362px;
        margin-top: 15px;
        position: relative;
    }
    .v-2+div{
        display: none;
    }
    .v-3{
        display: none;
    }
    .v-2{
        position: absolute;
        top: 211px;
        width: 362px;
        height: 198px;
    }
    .v-2 img{
        width: 362px;
        height: 198px;
    }
    .v-2 div{
        position: absolute;
        width: 362px;
        height: 56px;
        font-size: 26px;
        padding-left: 14px;
        line-height: 56px;
        bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        font-weight: 340;
    }
    .v-2 span{
        margin-left: 20px;
        font-size: 36px;
    }
    .v-3+div{
        position: absolute;
        top: 0;
        width: 362px;
        height: 198px;
    }
    .v-3+div img{
        width: 362px;
        height: 198px;
    }
    .v-3+div div{
        position: absolute;
        width: 362px;
        height: 56px;
        font-size: 26px;
        padding-left: 14px;
        line-height: 56px;
        bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        font-weight: 340;
    }
    .v-3+div span{
        margin-left: 25px;
        font-size: 36px;
    }
    .v-bottom{
        color: #8f8f8f;
        display: block;
        height: 55px;
        width: 225px;
        border: 1px solid #8f8f8f;
        border-radius: 10px;
        font-size: 25px;
        text-align: center;
        line-height: 55px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .v-middle .v-fh{
        font-size: 20px;
    }

    /* family */
    #family{
        display: none;
    }

    /* mission */
    #mission{
        margin-top: 20px;
        height: 1830px;
        width: 750px;
        background: #fff;
        overflow: hidden;       
    }
    .mission .m-d0{
        display: block;
        margin: 0 auto;
        width: 668px;
        height: 50px;
        border-bottom: 1px solid #e8e8e8;
    }
    .mission .m-d0 span:last-child{
        display: none;
    }
    .mission .m-d0 .m-sp1 .pc-none{
        font-size: 23px;
        display: inline-block;
    }
    .mission .m-d0 .m-sp1{
        display: block;
        font-size: 32px;
        padding-left: 12px;
        margin-top: 50px;
        line-height: 32px;
        border-left: 5px solid #e8420a;       
    }
    .mission .m-d1{
        background: url(img/back.png) no-repeat;
        background-size: auto 550px;
        height: 685px;
        padding-top: 50px;
    }
    .mission .m-d1 img{
        display: block;
        width: 668px;
        margin: 0 auto;
        height: 330px;
    }
    .mission .m-d1 div{
        width: 668px;
        margin: 0 auto;
    }
    .mission .m-d1 div>span>span:nth-child(3){
        display: none;
    }
    .mission .m-d1 div>span{
        font-size: 30px;
        text-align: center;
        display: block;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .mission .m-d1 div>p>br{
        display: none;
    }
    .mission .m-d1 div>p .pc-none{
        display: block;
    }
    .mission .m-d1 div>p{
        font-size: 22px;
        line-height: 35px;
    }
    .mission .m-d2{
        height: 430px;
        width: 668px;
        margin: 0 auto;
    }
    .mission .m-d2 img{
        width: 668px;
        height: 328px;
    }
    .mission .m-d2 div{
        font-size: 30px;
        text-align: center;
        display: block;
        margin-top: 65px;
    }
    .mission .m-d3{
        width: 668px;
        margin: 0 auto;
    }
    .mission .m-d3 div{
        height: 140px;
        padding-left: 25px;
        border-bottom: 1px solid #e8e8e8;
        margin-top: 50px;
    }
    .mission .m-d3 div:first-child{
        margin-left: -5px;
    }
    .mission .m-d3 div>span:nth-child(2){
        display: none;
    }
    .mission .m-d3 img{
        width: 80px;
        height: auto;
    }
    .mission .m-d3 div p{
        margin-left: 230px;
        margin-top: -85px;
        font-size: 22px;
        line-height: 35px;
    }
    .mission .m-d3 div:last-child p{
        margin-top: -65px;
    }

    /* bottom */
    .footer{
        background: #343235;
        height: 305px;
    }
    .footer .f-main{
        display: none;
    }
    .footer .last{
        color: #fff;
        width: 750px;
        height: 303px;
        padding-top: 100px;
        background-color: #302e31;
        text-align: center;
        font-size: 22px;
        line-height: 40px;
        font-weight: 360;
    }
}
